/*
Theme Name: The Crocodile
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: the-crocodile
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 The Crocodile is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
p {
	margin-bottom: 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ebcd21;
	background: none;
	color: #ebcd21;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border: 1px solid #ebcd21;
	background: #ebcd21;
	color: gray;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #e5e5e5;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul {
	left: 100%;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}
/* Small menu */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}

button,html,input,select,textarea{color:#222}body,html{font-size:1em;line-height:1.4;height:100%}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}audio,canvas,img,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}body{font-family:Helvetica,Helvetica Neue,Arial;font-size:14px}img{max-width:100%}a,a:visited{color:#e4cedb;text-decoration:none}a:hover{text-decoration:underline}h1{margin:0;padding:0;font-size:140%;line-height:30px;color:#6a2f9d}ol,ul{margin:0;padding:0;list-style:none}p{margin:0 0 20px;padding:0}.ie7 .title{padding-top:20px}.inner{max-width:960px;margin:0 auto;position:relative}.left{float:left}.right{float:right}@-webkit-keyframes wobble-horizontal{16.65%{-webkit-transform:translateX(8px);transform:translateX(8px)}33.3%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}49.95%{-webkit-transform:translateX(4px);transform:translateX(4px)}66.6%{-webkit-transform:translateX(-2px);transform:translateX(-2px)}83.25%{-webkit-transform:translateX(1px);transform:translateX(1px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes wobble-horizontal{16.65%{-webkit-transform:translateX(8px);transform:translateX(8px)}33.3%{-webkit-transform:translateX(-6px);transform:translateX(-6px)}49.95%{-webkit-transform:translateX(4px);transform:translateX(4px)}66.6%{-webkit-transform:translateX(-2px);transform:translateX(-2px)}83.25%{-webkit-transform:translateX(1px);transform:translateX(1px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}a.wobble-horizontal img{display:inline-block;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-box-shadow:0 0 1px rgba(0,0,0,0);box-shadow:0 0 1px rgba(0,0,0,0)}a.wobble-horizontal:active img,a.wobble-horizontal:focus img,a.wobble-horizontal:hover img{-webkit-animation-name:wobble-horizontal;animation-name:wobble-horizontal;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1}#page{background:#ba2f92;background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(50%,#ba2f92),color-stop(100%,#6a2f9d));background:-webkit-radial-gradient(center,ellipse cover,#ba2f92 50%,#6a2f9d 100%);background:-webkit-radial-gradient(center,ellipse,#ba2f92 50%,#6a2f9d 100%);background:radial-gradient(ellipse at center,#ba2f92 50%,#6a2f9d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$pink', endColorstr='$purple', GradientType=1);min-height:100%}#contentArea,.topBar{padding:0 8%}header{position:relative;min-height:178px;height:178px;background:url(/img/header_bunting.png) right 40px no-repeat;z-index:1000}header .topBar{background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#532971),color-stop(0.75,#663591));background:-webkit-linear-gradient(top,#532971 0,#663591 75%);background:-webkit-gradient(linear,left bottom,left top,from(#532971),color-stop(75%,#663591));background:-webkit-linear-gradient(bottom,#532971 0,#663591 75%);background:linear-gradient(to top,#532971 0,#663591 75%);-webkit-box-shadow:0 30px 80px 0 #333;box-shadow:0 0 80px 8px #333;font-size:90%;position:absolute;top:0;left:0;width:100%;color:#e4cedb}.topBar .inner{padding-top:8px;padding-bottom:8px}.topBar a,.topBar a:visited{font-size:100%;font-weight:700;line-height:24px}.topBar a:hover{color:#FFF}.topBar .social li,.widePanel .share ul li{float:left;display:inline}.topBar .social p,.widePanel .share p{margin:0;padding:0;line-height:26px}.social a,.social a:visited,.widePanel .share a,.widePanel .share a:visited{float:left;width:28px;height:27px;margin:0 8px;padding:0;text-indent:-800px;overflow:hidden}.social .facebook{background:url(/img/facebook.png) 0 0 no-repeat}.social .twitter{background:url(/img/twitter.png) 0 0 no-repeat}.social .pintrest,a.PIN_1409839748680_pin_it_button_en_20_gray{background:url(/img/pintrest.png) 0 0 no-repeat}.social .googleplus{background:url(/img/googleplus.png) 0 0 no-repeat}.social a:last-child,.widePanel .share a:last-child{margin-right:0}#contentArea{position:relative;margin:-20px 0 0 0;background:url(/img/content_buntings.png) right 80px no-repeat}#contentArea .medPanel,#contentArea .smlPanel,#contentArea .widePanel{border:10px solid #F1AD1C;background:#FFF;margin:0 0 40px;padding:26px;-webkit-box-shadow:3px 2px 15px #3f3f3f;box-shadow:3px 2px 15px #3f3f3f}#contentArea .widePanel{position:relative}.widePanel .logo{position:absolute;z-index:1000;top:-116px;left:26px}.widePanel .wideTitle{float:left;margin:80px 0 0;max-width:40%}.wideTitle img{max-width:100%;width:100%}.wideTitle p{margin:20px 0 0}.widePanel .video{width:55%;margin:0 0 10px;cursor:pointer}.widePanel .share{max-width:55%;width:55%;margin:40px 0 0}.widePanel .share p{float:left;color:#6a2f9d;font-size:120%;width:86%;line-height:22px}.widePanel .share a,.widePanel .share a:visited{margin:15px 6px 0}.widePanel .share a.facebook{background:url(/img/facebook_purple.png) 0 0 no-repeat}.widePanel .share a.twitter{background:url(/img/twitter_purple.png) 0 0 no-repeat}#contentArea .smlPanel{border:0;background:#fcf2cf;width:30%;position:relative;padding-left:15px;padding-right:15px}#contentArea .extraSpacing{margin-top:20px;padding-top:80px}.smlPanel img:first-child{position:absolute;top:-20px;left:-13px;min-width:110%}.smlPanel p{color:#7d5811}.smlPanel ol{list-style:decimal;margin:0 20px 20px 40px;color:#7d5811;font-weight:700}.smlPanel ol li span{font-weight:400}.smlPanel a,.smlPanel a:hover,.smlPanel a:visited{background:url(/img/hide_tweet_cta_bg.png) 0 0 no-repeat;background-size:100%;float:left;width:100%;height:40px;margin:0;padding:0;position:relative}.smlPanel .clue img{position:absolute;top:8px;left:inherit;right:25px;float:right;min-width:inherit}.tweets{background:transparent!important;padding:0!important;-webkit-box-shadow:none!important;box-shadow:none!important;min-width:33%!important;overflow:hidden}.tweets .tweetCopy,.tweets .tweetFooter,.tweets .tweetHeader{background:url(/img/tweet_header_bg.png) top center no-repeat;background-size:cover;float:left;width:100%;padding:24px 26px 0}.tweets img:first-child{position:static;float:left;min-width:100%}.tweets .tweetCopy{background:url(/img/brush_bg.png) 0 0 repeat #f0bf52;min-height:inherit;height:auto;padding:0 26px;padding-top:10px}.tweetCopy iframe{background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(15%,#fff),color-stop(90%,#fff),color-stop(100%,rgba(255,255,255,0)));background:-webkit-linear-gradient(top,rgba(255,255,255,0)0,#fff 85%,#fff 85%,rgba(255,255,255,0)100%);background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(15%,#fff),color-stop(85%,#fff),to(rgba(255,255,255,0)));background:-webkit-linear-gradient(top,rgba(255,255,255,0)0,#fff 15%,#fff 85%,rgba(255,255,255,0)100%);background:linear-gradient(to bottom,rgba(255,255,255,0)0,#fff 15%,#fff 85%,rgba(255,255,255,0)100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);padding:20px 6px;max-width:100%!important;min-width:100%!important;width:100%}.tweets .tweetFooter{background:url(/img/tweet_footer_bg.png) bottom center no-repeat;background-size:cover;padding-top:0;padding-bottom:10px}.tweetFooter span{color:#FFF}#contentArea .medPanel{border:10px solid #6a2f9d;border-radius:10px;width:66%;position:relative;padding-left:15px;padding-right:15px}#contentArea .bubble:after,#contentArea .bubble:before{content:'';position:absolute;border-style:solid;border-width:15px 10px 0;border-color:#FFF transparent;display:block;width:0;z-index:1;margin-left:0;bottom:-15px;left:95%}#contentArea .bubble:after{border-width:24px 19px 0;border-color:#6a2f9d transparent;z-index:0;margin-left:-9px;bottom:-34px}.medPanel .title{max-width:48%;width:48%}.medPanel p{width:48%}.medPanel a.sayThanks,.medPanel a:hover.sayThanks,.medPanel a:visited.sayThanks{background:url(/img/say_thanks_cta_bg.png) 0 0 no-repeat;background-size:100%;float:right;width:48%;height:80px;margin:0;padding:0;position:relative}.medPanel .sayThanks img{float:right;position:absolute;top:14px;left:inherit;right:30px}.medPanel .purple{color:#6a2f9d;font-weight:700}#contentArea .ideas{border:0;border-radius:0;background:#fcf2cf;clear:both;position:relative;margin-top:70px;padding-top:110px;width:62%;height:410px}.ideas img:first-child,.ideas img:last-child{position:absolute;top:-70px;left:-20px;max-width:106%;width:106%;z-index:980}.ideas img:last-child{top:inherit;bottom:0}.ideas #carouselContainer{float:left;width:100%;margin:-40px 0 0 0}#carouselContainer .curtainLeft,#carouselContainer .curtainRight{width:auto;top:86px;left:15px;z-index:950}#carouselContainer .curtainRight{left:inherit;right:15px}#carouselContainer .carouselContent{background:#d22a91;background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#d22a91),color-stop(100%,#6e3090));background:-webkit-radial-gradient(center,ellipse cover,#d22a91 0,#6e3090 100%);background:-webkit-radial-gradient(center,ellipse,#d22a91 0,#6e3090 100%);background:radial-gradient(ellipse at center,#d22a91 0,#6e3090 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d22a91', endColorstr='#6e3090', GradientType=1);margin:0;padding:74px 0 0;min-height:305px;height:305px}.carouselContent .owl-item{width:auto!important}.carouselContent .owl-item img{position:static;width:auto!important}.purpleBanner{background:#7a4092;height:30px}footer{background:url(/img/footer_bg.png) bottom center no-repeat #471e5e;color:#7a4092;font-size:11px;padding:0 8%}footer .inner{padding:30px 0}footer a,footer a:hover,footer a:visited,footer p{color:#FFF}footer p{margin:30px 0 0;padding:0}footer ul li{display:inline-block;margin:0 5px}footer ul li:first-child{margin-left:0}.hidentweet p,.terms p{margin:20px 0}.hidentweet #contentArea,.terms #contentArea{margin:-105px 0 0 0;background:url(/img/content_buntings.png) right 280px no-repeat}.hidentweet #contentArea .nectarLogo,.terms #contentArea .nectarLogo{margin:0 0 30px}nav{position:absolute;top:-35px;right:20px}nav ul li a,nav ul li a:hover,nav ul li a:visited{border-top-left-radius:.5em;border-top-right-radius:.5em;background:#F1AD1C;padding:8px;color:#6a2f9d}.hidentweet .widePanel .compTitle{float:left;max-width:58%;width:58%}.hidentweet #contentArea .widePanel .copy{float:left;width:58%}.hidentweet #contentArea .widePanel .copy a,.hidentweet #contentArea .widePanel .copy a:visited{color:#000;text-decoration:underline}.hidentweet #contentArea .widePanel .copy p:last-of-type{color:#6a2f9d;font-size:130%}.hidentweet #contentArea .widePanel .right{width:35%}.hidentweet #contentArea .widePanel .right a.howToPlay,.hidentweet #contentArea .widePanel .right a:hover.howToPlay,.hidentweet #contentArea .widePanel .right a:visited.howToPlay{display:none}.hidentweet #contentArea .widePanel .right a.clueSearch,.hidentweet #contentArea .widePanel .right a:visited.clueSearch{background:url(../img/clue_search_bg.png) 0 0 no-repeat;background-size:100%;float:left;clear:both;max-width:100%;width:100%;height:42px;margin:20px 0 0;position:relative}.hidentweet #contentArea .widePanel .right .clueSearch img{position:absolute;top:10px;right:25px}.terms #accordion a,.terms #accordion a:hover,.terms #accordion a:visited{border-radius:20px;background:url(../img/arrow_right.png),#c547a3;background:url(../img/arrow_right.png),-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c547a3),color-stop(100%,#9f1f7d));background:url(../img/arrow_right.png),-webkit-linear-gradient(top,#c547a3 0,#9f1f7d 100%);background:url(../img/arrow_right.png),-webkit-gradient(linear,left top,left bottom,from(#c547a3),to(#9f1f7d));background:url(../img/arrow_right.png),linear-gradient(to bottom,#c547a3 0,#9f1f7d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c547a3', endColorstr='#9f1f7d', GradientType=0);background-position:left center;background-repeat:no-repeat;float:left;clear:both;margin:20px 0 0;padding:5px 30px;color:#FFF;font-size:110%;text-decoration:underline}.terms #accordion a.ui-accordion-header-active{background:url(../img/arrow_down.png),#c547a3;background:url(../img/arrow_down.png),-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c547a3),color-stop(100%,#9f1f7d));background:url(../img/arrow_down.png),-webkit-linear-gradient(top,#c547a3 0,#9f1f7d 100%);background:url(../img/arrow_down.png),-webkit-gradient(linear,left top,left bottom,from(#c547a3),to(#9f1f7d));background:url(../img/arrow_down.png),linear-gradient(to bottom,#c547a3 0,#9f1f7d 100%);background-position:left center;background-repeat:no-repeat}.terms #accordion div{float:left;clear:both;margin:5px 0 0}.terms #accordion div a,.terms #accordion div a:hover,.terms #accordion div a:visited{border-radius:0;background:0 0;float:none;clear:none;max-width:inherit;width:auto;margin:0;padding:0;color:#000;font-size:100%}.terms #accordion div a.toTop{float:right;color:#6a2f9d;font-size:90%}.terms #accordion ol{list-style:decimal;margin:0 60px}.terms #accordion ol li{margin:8px 0}.terms #accordion ol li ol{list-style:lower-alpha;margin-bottom:10px}@media (min-width:768px) and (max-width:979px){.widePanel .video{max-width:50%;margin-top:40px}.widePanel .share{max-width:50%;font-size:80%;margin:0}.smlPanel .clue img{top:4px;right:15px}#contentArea .ideas{min-height:360px;height:360px;padding-top:150px}.ideas #carouselContainer{margin:-110px 0 0 0}#carouselContainer .carouselContent{padding:50px 0 0}#carouselContainer .curtainLeft,#carouselContainer .curtainRight{top:35px;max-width:30%}.carouselContent .owl-item{max-width:5%!important;width:5%!important}.owl-item .stand{left:65px!important}.owl-item .duck{right:-80px!important}}@media (max-width:880px){.hidentweet .widePanel .compTitle{max-width:inherit}.hidentweet #contentArea .widePanel .right a.clueSearch,.hidentweet #contentArea .widePanel .right a:visited.clueSearch{height:30px}.hidentweet #contentArea .widePanel .right .clueSearch img{top:6px;right:18px;width:15%}}@media (max-width:768px){#contentArea .ideasTmp,#contentArea .medPanel,#contentArea .smlPanel{width:47%}#contentArea .bubble:before{margin-left:-10px}#contentArea .bubble:after{margin-left:-19px}.widePanel .wideTitle{margin-top:90px;max-width:50%}.widePanel .video{width:45%;margin-top:95px;margin-bottom:10px}.widePanel .share{max-width:45%;font-size:80%;margin:10px 0 0}.medPanel .title{max-width:100%;width:100%;margin-bottom:20px}.medPanel p{float:left;clear:both;width:100%}.medPanel a.sayThanks,.medPanel a:hover.sayThanks,.medPanel a:visited.sayThanks{float:left;width:100%;height:68px}.medPanel .sayThanks img{top:8px;right:15px}#contentArea .ideas{clear:none}#carouselContainer .curtainLeft,#carouselContainer .curtainRight,.ideas img:last-child{min-width:inherit;width:auto}.smlPanel .clue img{top:6px;right:30px}#contentArea .ideas{width:100%;min-height:358px;height:358px;padding-top:50px}.ideas img:first-child{min-width:inherit}.ideas img:first-child,.ideas img:last-child{max-width:106%;width:106%}.ideas #carouselContainer{margin:-55px 0 0 0}#carouselContainer .carouselContent{padding:140px 0 0}#carouselContainer .curtainLeft,#carouselContainer .curtainRight{top:30px;max-width:27%}.carouselContent .owl-item{max-width:4%!important;width:4%!important}.carouselContent .owl-item img{margin:0}.owl-item .stand{left:95px!important}.owl-item .duck{right:-80px!important}.owl-item .ideaBoard{width:100%}.ideaBoard p{font-size:12px}#contentArea .tweets{width:100%;overflow:hidden}}@media (max-width:630px){.hidentweet .widePanel .compTitle{max-width:100%;width:100%}.hidentweet #contentArea .widePanel .copy{width:100%}.hidentweet #contentArea .widePanel .right{float:left;width:100%;margin:20px 0 0}.hidentweet #contentArea .widePanel .right a.howToPlay,.hidentweet #contentArea .widePanel .right a:hover.howToPlay,.hidentweet #contentArea .widePanel .right a:visited.howToPlay{display:inline-block;color:#000;font-size:90%;text-decoration:underline}.hidentweet #contentArea .widePanel .right img:first-of-type{float:right}.hidentweet #contentArea .widePanel .right a.clueSearch,.hidentweet #contentArea .widePanel .right a:visited.clueSearch{height:62px}.hidentweet #contentArea .widePanel .right .clueSearch img{position:absolute;top:10px;right:25px}}@media (max-width:480px){#contentArea .medPanel,#contentArea .smlPanel{float:left;width:auto}#contentArea .ideasTmp{width:auto}#contentArea .bubble:before{margin-left:-10px}#contentArea .bubble:after{margin-left:-19px}#contentArea .extraSpacing{padding-top:100px}.widePanel .logo{max-width:84%}.widePanel .wideTitle{max-width:100%;margin-top:50px}.widePanel .video{width:auto;margin-top:20px}.widePanel .share{float:left;max-width:100%;width:100%;font-size:100%}.widePanel .share p{width:100%}.medPanel .title{max-width:100%;width:100%;margin-bottom:20px}.medPanel p{float:left;clear:both;width:100%}.medPanel a.sayThanks,.medPanel a:hover.sayThanks,.medPanel a:visited.sayThanks{float:left;width:100%;height:95px}.medPanel .sayThanks img{top:18px;right:40px}.smlPanel a,.smlPanel a:hover,.smlPanel a:visited{background-size:100%;height:56px}.smlPanel .clue img{top:12px;right:40px}#contentArea .tweets{width:100%;overflow:hidden}#contentArea .ideas{width:100%;min-height:320px;height:320px;padding-top:50px}.ideas img:first-child{min-width:inherit}.ideas img:first-child,.ideas img:last-child{max-width:112%;width:112%}.ideas #carouselContainer{margin:-55px 0 0 0}#carouselContainer .carouselContent{padding:95px 0 0}#carouselContainer .curtainLeft,#carouselContainer .curtainRight{top:30px;max-width:28%}.carouselContent .owl-item{max-width:6%!important;width:6%!important}.carouselContent .owl-item img{margin:0}.owl-item .stand{left:95px!important}.owl-item .duck{right:-80px!important}.owl-item .ideaBoard{width:100%}.ideaBoard p{font-size:12px}}@media (max-width:380px){.widePanel .wideTitle{margin-top:10px}.medPanel .sayThanks img{top:10px;right:20px}.smlPanel .clue img{top:8px;right:30px}#contentArea .ideas{min-height:272px;height:272px;padding-top:0}#carouselContainer .curtainLeft,#carouselContainer .curtainRight{top:10px;max-width:36%}#carouselContainer .carouselContent{padding:82px 0 0}}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:150%}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}@page{margin:.5cm}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}