@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
/******************************************************************
Site Name: AAThornton
Author: Tela Ltd

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* ==========================================================================
   Imported default
   ========================================================================== */
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
a:hover,
a:active {
  outline: none;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: non;
  -epub-hyphens: non;
  -moz-hyphens: non;
  hyphens: non;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.test {
  background: red;
  min-height: 100px;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
html {
  -webkit-font-smoothing: antialiased;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
@font-face {
  font-family: 'gochi_handregular';
  src: url('../fonts/gochihand-regular-webfont.svg#gochi_handregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* Wordpress defaults */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
  max-width: 30%;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  padding: 6px 14px;
  border: none;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  line-height: 21px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  background: #6e2e8f;
  color: #fff !important;
}
.button.full,
.button:visited.full {
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #000;
  background: #502268;
}
.button:active,
.button:visited:active,
.button.active,
.button:visited.active {
  background: #502268;
}
.button.dark,
.button:visited.dark,
.button.gform_button,
.button:visited.gform_button {
  background: #d32c90;
  color: #6e2e8f;
  font-size: 11px;
  font-weight: normal;
}
.button.dark:hover,
.button:visited.dark:hover,
.button.gform_button:hover,
.button:visited.gform_button:hover,
.button.dark:focus,
.button:visited.dark:focus,
.button.gform_button:focus,
.button:visited.gform_button:focus {
  color: #6e2e8f;
  background: #941f65;
}
.button.dark:active,
.button:visited.dark:active,
.button.gform_button:active,
.button:visited.gform_button:active {
  background: #a92373;
}
.button.large,
.button:visited.large {
  padding: 25px;
  font-weight: 200;
  font-size: 22px;
}
/*
  Variable Grid System (Fluid Version).
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

  Licensed under GPL and MIT.
  */
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
  width: 980px;
  margin: 0 auto;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 6.333%;
}
.container_12 .grid_2 {
  width: 14.667%;
}
.container_12 .grid_3 {
  width: 23.0%;
}
.container_12 .grid_4 {
  width: 31.333%;
}
.container_12 .grid_5 {
  width: 39.667%;
}
.container_12 .grid_6 {
  width: 48.0%;
}
.container_12 .grid_7 {
  width: 56.333%;
}
.container_12 .grid_8 {
  width: 64.667%;
}
.container_12 .grid_9 {
  width: 73.0%;
}
.container_12 .grid_10 {
  width: 81.333%;
}
.container_12 .grid_11 {
  width: 89.667%;
}
.container_12 .grid_12 {
  width: 98.0%;
}
/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 8.333%;
}
.container_12 .prefix_2 {
  padding-left: 16.667%;
}
.container_12 .prefix_3 {
  padding-left: 25.0%;
}
.container_12 .prefix_4 {
  padding-left: 33.333%;
}
.container_12 .prefix_5 {
  padding-left: 41.667%;
}
.container_12 .prefix_6 {
  padding-left: 50.0%;
}
.container_12 .prefix_7 {
  padding-left: 58.333%;
}
.container_12 .prefix_8 {
  padding-left: 66.667%;
}
.container_12 .prefix_9 {
  padding-left: 75.0%;
}
.container_12 .prefix_10 {
  padding-left: 83.333%;
}
.container_12 .prefix_11 {
  padding-left: 91.667%;
}
/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 8.333%;
}
.container_12 .suffix_2 {
  padding-right: 16.667%;
}
.container_12 .suffix_3 {
  padding-right: 25.0%;
}
.container_12 .suffix_4 {
  padding-right: 33.333%;
}
.container_12 .suffix_5 {
  padding-right: 41.667%;
}
.container_12 .suffix_6 {
  padding-right: 50.0%;
}
.container_12 .suffix_7 {
  padding-right: 58.333%;
}
.container_12 .suffix_8 {
  padding-right: 66.667%;
}
.container_12 .suffix_9 {
  padding-right: 75.0%;
}
.container_12 .suffix_10 {
  padding-right: 83.333%;
}
.container_12 .suffix_11 {
  padding-right: 91.667%;
}
/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 8.333%;
}
.container_12 .push_2 {
  left: 16.667%;
}
.container_12 .push_3 {
  left: 25.0%;
}
.container_12 .push_4 {
  left: 33.333%;
}
.container_12 .push_5 {
  left: 41.667%;
}
.container_12 .push_6 {
  left: 50.0%;
}
.container_12 .push_7 {
  left: 58.333%;
}
.container_12 .push_8 {
  left: 66.667%;
}
.container_12 .push_9 {
  left: 75.0%;
}
.container_12 .push_10 {
  left: 83.333%;
}
.container_12 .push_11 {
  left: 91.667%;
}
/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -8.333%;
}
.container_12 .pull_2 {
  left: -16.667%;
}
.container_12 .pull_3 {
  left: -25%;
}
.container_12 .pull_4 {
  left: -33.333%;
}
.container_12 .pull_5 {
  left: -41.667%;
}
.container_12 .pull_6 {
  left: -50%;
}
.container_12 .pull_7 {
  left: -58.333%;
}
.container_12 .pull_8 {
  left: -66.667%;
}
.container_12 .pull_9 {
  left: -75%;
}
.container_12 .pull_10 {
  left: -83.333%;
}
.container_12 .pull_11 {
  left: -91.667%;
}
@media screen and (max-width: 960px) {
  .container_12 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 665px) {
  .container_12 .grid_1,
  .container_12 .grid_2,
  .container_12 .grid_3,
  .container_12 .grid_4,
  .container_12 .grid_5,
  .container_12 .grid_6,
  .container_12 .grid_7,
  .container_12 .grid_8,
  .container_12 .grid_9,
  .container_12 .grid_10,
  .container_12 .grid_11,
  .container_12 .grid_12 {
    display: block;
    clear: both;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }
  .container_12 .push_1,
  .container_12 .push_2,
  .container_12 .push_3,
  .container_12 .push_4,
  .container_12 .push_5,
  .container_12 .push_6,
  .container_12 .push_7,
  .container_12 .push_8,
  .container_12 .push_9,
  .container_12 .push_10,
  .container_12 .push_11,
  .container_12 .push_12,
  .container_12 .pull_1,
  .container_12 .pull_2,
  .container_12 .pull_3,
  .container_12 .pull_4,
  .container_12 .pull_5,
  .container_12 .pull_6,
  .container_12 .pull_7,
  .container_12 .pull_8,
  .container_12 .pull_9,
  .container_12 .pull_10,
  .container_12 .pull_11,
  .container_12 .pull_12 {
    left: 0;
  }
  .container_12 .prefix_1,
  .container_12 .prefix_2,
  .container_12 .prefix_3,
  .container_12 .prefix_4,
  .container_12 .prefix_5,
  .container_12 .prefix_6,
  .container_12 .prefix_7,
  .container_12 .prefix_8,
  .container_12 .prefix_9,
  .container_12 .prefix_10,
  .container_12 .prefix_11,
  .container_12 .suffix_1,
  .container_12 .suffix_2,
  .container_12 .suffix_3,
  .container_12 .suffix_4,
  .container_12 .suffix_5,
  .container_12 .suffix_6,
  .container_12 .suffix_7,
  .container_12 .suffix_8,
  .container_12 .suffix_9,
  .container_12 .suffix_10,
  .container_12 .suffix_11 {
    padding: 0;
  }
}
/* ==========================================================================
   generic styles
   ========================================================================== */
body {
  background: #6d2c91;
  font-size: 17px;
  font-weight: 300;
  font-family: Arial, "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 1.3em;
}
h1,
h2,
h3,
h4 {
  line-height: 1em;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.pagearea,
.footer {
  width: 100%;
  margin: 0 auto;
}
.pagearea {
  position: relative;
  min-height: 300px;
  maxwidth: 100%;
  overflow: hidden;
}
.header {
  background: linear-gradient(to bottom, #78409b 0%, #512971 100%);
  border-top: 1px solid #78409b;
  height: 40px;
}
.header h1 {
  margin: 0;
  float: left;
  font-size: 11.5px;
  weight: bold;
  display: block;
  padding-top: 13px;
}
.header h1 a {
  color: #e3c9e0;
  font-weight: bold;
}
.header ul.social {
  margin: 0;
  float: right;
  padding-top: 6px;
}
ul.social li {
  display: inline-block;
}
ul.social li a {
  display: block;
  overflow: hidden;
  text-indent: -200px;
  width: 32px;
  height: 28px;
}
ul.social li a:hover {
  opacity: 0.7;
}
ul.social li a.head.facebook {
  background: url(../svg/icon-header-facebook.png) top left no-repeat;
}
ul.social li a.head.twitter {
  background: url(../svg/icon-header-twitter.png) top left no-repeat;
}
ul.social li a.head.google {
  background: url(../svg/icon-header-google.png) top left no-repeat;
}
ul.social li a.head.pintrest {
  background: url(../svg/icon-header-pintrest.png) top left no-repeat;
}
ul.social li a.yellow.facebook {
  background: url(../svg/icon-yellow-facebook.png) top left no-repeat;
}
ul.social li a.yellow.twitter {
  background: url(../svg/icon-yellow-twitter.png) top left no-repeat;
}
ul.social li a.yellow.google {
  background: url(../svg/icon-yellow-google.png) top left no-repeat;
}
ul.social li a.yellow.pintrest {
  background: url(../svg/icon-yellow-pintrest.png) top left no-repeat;
}
ul.social li a.pink.facebook {
  background: url(../svg/icon-pink-facebook.png) top left no-repeat;
}
ul.social li a.pink.twitter {
  background: url(../svg/icon-pink-twitter.png) top left no-repeat;
}
ul.social li a.pink.google {
  background: url(../svg/icon-pink-google.png) top left no-repeat;
}
ul.social li a.pink.pintrest {
  background: url(../svg/icon-pink-pintrest.png) top left no-repeat;
}
ul.social li a.purple.facebook {
  background: url(../svg/icon-purple-facebook.png) top left no-repeat;
}
ul.social li a.purple.twitter {
  background: url(../svg/icon-purple-twitter.png) top left no-repeat;
}
ul.social li a.purple.google {
  background: url(../svg/icon-purple-google.png) top left no-repeat;
}
ul.social li a.purple.pintrest {
  background: url(../svg/icon-purple-pintrest.png) top left no-repeat;
}
ul.social li a.green.facebook {
  background: url(../svg/icon-green-facebook.png) top left no-repeat;
}
ul.social li a.green.twitter {
  background: url(../svg/icon-green-twitter.png) top left no-repeat;
}
ul.social li a.green.google {
  background: url(../svg/icon-green-google.png) top left no-repeat;
}
ul.social li a.green.pintrest {
  background: url(../svg/icon-green-pintrest.png) top left no-repeat;
}
.contentarea {
  position: relative;
  z-index: 1000;
}
.contentarea .bg-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.contentarea .contentheader,
.contentarea .content,
.contentarea .contentfooter {
  position: relative;
  z-index: 200;
}
.contentarea .contentheader {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contentarea .contentheader a {
  color: #f2b716;
}
.contentarea .content {
  clear: both;
  width: 100%;
  position: relative;
}
.contentarea .content .arrows {
  margin: 0;
}
.contentarea .content .arrows li a {
  display: block;
  width: 143px;
  height: 137px;
  position: absolute;
  top: 150px;
  background: url(../img/arrows-pointers.png) no-repeat;
  overflow: hidden;
  text-indent: 200px;
  -webkit-transition: left 0.5s ease, right 0.5s ease;
  -moz-transition: left 0.5s ease, right 0.5s ease;
  -o-transition: left 0.5s ease, right 0.5s ease;
  transition: left 0.5s ease, right 0.5s ease;
}
.contentarea .content .arrows li a.next {
  right: -200px;
  background-position: top right;
}
.contentarea .content .arrows li a.back {
  left: -200px;
  background-position: top left;
}
.contentarea .content:hover .arrows {
  margin: 0;
}
.contentarea .content:hover .arrows li a.next {
  right: 10px;
}
.contentarea .content:hover .arrows li a.back {
  left: 10px;
}
.itemsarea {
  position: absolute;
  top: 0;
  left: 20px;
  height: 460px;
}
.itemsarea.home {
  left: -310px;
}
.popup .item > h3,
.popup .inside > h3,
.popup .itemform > h3,
.popup .item > h2,
.popup .inside > h2,
.popup .itemform > h2 {
  margin: 3px 0px 3px 0px !important;
}
.popup .item p,
.popup .inside p,
.popup .itemform p {
  margin: 3px 00px 3px 0px !important;
}
.item {
  float: left;
  width: 160px;
  height: 113px;
  margin: 0;
  padding: 0;
  font-family: 'Gochi Hand', cursive;
  position: relative;
}
.item .corner {
  position: absolute;
  bottom: 2px;
  right: 40px;
}
.item h2,
.item h3 {
  font-weight: normal;
}
.item.fade {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.item .inside {
  position: relative;
  background: #fff;
  width: 124px;
  height: 86px;
  border: 4px solid #6e2e8f;
  color: #6e2e8f;
  -webkit-border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 8px;
  -moz-background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.item .inside .icon {
  float: right;
  height: 60px;
}
.item .inside .share {
  display: none;
}
.item .inside > h2,
.item .inside > p {
  display: none;
}
.item .inside > h3 {
  position: absolute;
  left: 10px;
  bottom: 5px;
  margin: 0;
  font-size: 16px;
}
.item .inside .shareblock {
  position: absolute;
  left: -4px;
  top: 220px;
  width: 100%;
  background: #fff;
  z-index: 4000;
  border: 4px solid #6e2e8f;
  z-index: 4000 !important;
}
.item .inside .shareblock .wrap {
  padding: 0 15px;
  font-size: 15px;
}
.item .inside .shareblock .wrap p {
  font-family: arial;
  line-height: 1.1em;
  color: #6e2e8f;
}
.item .inside .shareblock .wrap h3 {
  text-align: right;
}
.item .inside .shareblock .wrap ul {
  color: #6e2e8f;
  list-style-type: disc;
  margin-left: 14px;
  font-family: arial;
  margin-bottom: 0;
}
.item.large {
  width: 320px;
  height: 226px;
}
.item.large .corner {
  bottom: 3px;
}
.item.large .inside {
  background: #fff;
  width: 292px;
  height: 198px;
}
.item.large .inside .icon {
  float: right;
  height: 80px;
  width: 80px;
}
.item.large .inside h2,
.item.large .inside p {
  display: block;
}
.item.large .inside > h2 {
  font-size: 32px;
  display: block;
  width: 110px;
  margin: 0 !important;
  padding: 10px 0 0 10px;
}
.item.large .inside > h3 {
  position: relative;
  left: 0px;
  bottom: 0px;
  margin: 0 !important;
  font-size: 23px;
  margin: 0;
  padding: 10px 0 0 10px;
}
.item.large .inside > p {
  margin: 0 !important;
  padding: 10px 0 0 10px;
}
.item.flexy {
  height: auto !important;
}
.item.flexy .inside {
  height: auto !important;
}
.item.flexy .inside .itemform {
  padding-left: 10px;
  padding-top: 10px;
}
.item.flexy .inside .itemform input,
.item.flexy .inside .itemform textarea {
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
}
.item.flexy .inside .itemform input {
  width: 94%;
}
.item.flexy .inside .itemform textarea {
  width: 95%;
}
.item.yellow .shareblock {
  border-color: #f2b716;
}
.item.yellow .shareblock h3 {
  color: #f2b716;
}
.item.yellow .inside {
  border-color: #f2b716;
  background: #ffffff url(../img/corner-yellow.png) no-repeat top right;
  background-size: 150px auto;
}
.item.yellow .inside h2 {
  color: #f2b716;
}
.item.yellow .inside .share h3 {
  color: #f2b716;
}
.item.yellow .inside .share .social .icon path {
  fill: #f2b716;
}
.item.yellow.large .inside {
  background-size: auto auto;
}
.item.green .shareblock {
  border-color: #74bf44;
}
.item.green .shareblock h3 {
  color: #74bf44;
}
.item.green .inside {
  border-color: #74bf44;
  background: #ffffff url(../img/corner-green.png) no-repeat top right;
  background-size: 150px auto;
}
.item.green .inside h2 {
  color: #74bf44;
}
.item.green .inside .share h3 {
  color: #74bf44;
}
.item.green .inside .share .social .icon path {
  fill: #74bf44;
}
.item.green.large .inside {
  background-size: auto auto;
}
.item.pink .shareblock {
  border-color: #d32c90;
}
.item.pink .shareblock h3 {
  color: #d32c90;
}
.item.pink .inside {
  border-color: #d32c90;
  background: #ffffff url(../img/corner-pink.png) no-repeat top right;
  background-size: 150px auto;
}
.item.pink .inside h2 {
  color: #d32c90;
}
.item.pink .inside .share h3 {
  color: #d32c90;
}
.item.pink .inside .share .social .icon path {
  fill: #d32c90;
}
.item.pink.large .inside {
  background-size: auto auto;
}
.item.purple .shareblock {
  border-color: #6e2e8f;
}
.item.purple .shareblock h3 {
  color: #6e2e8f;
}
.item.purple .inside {
  border-color: #6e2e8f;
  background: #ffffff url(../img/corner-purple.png) no-repeat top right;
  background-size: 150px auto;
}
.item.purple .inside h2 {
  color: #6e2e8f;
}
.item.purple .inside .share h3 {
  color: #6e2e8f;
}
.item.purple .inside .share .social .icon path {
  fill: #6e2e8f;
}
.item.purple.large .inside {
  background-size: auto auto;
}
.item.svgfont {
  font-family: 'gochi_handregular' !important;
}
.crop {
  padding: 10px;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.crop .item {
  width: 292px;
}
.footer {
  padding: 20px 0 10px 0;
  background: #471e5e;
  z-index: 2;
}
.footer .totalizer {
  position: relative;
  padding-top: 26px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer .totalizer .totalizericon {
  -webkit-transition: left 0.5s ease, right 0.5s ease;
  -moz-transition: left 0.5s ease, right 0.5s ease;
  -o-transition: left 0.5s ease, right 0.5s ease;
  transition: left 0.5s ease, right 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/icon-totalizer.png) no-repeat top left;
  display: inline-block;
  width: 99px;
  height: 99px;
  vertical-align: middle;
  text-align: center;
  color: #d27a00;
  font-size: 24px;
}
.footer .totalizer .totalizericon strong {
  display: block;
  padding-top: 37px;
  text-shadow: -1px -1px #9f5c00;
}
.footer .totalizer .totalizerbar {
  display: block;
  width: 95%;
  padding: 2% 2%;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  border-right: 1px solid #8137ab;
  border-bottom: 1px solid #8137ab;
  border-left: 1px solid #0d0511;
  border-top: 1px solid #0d0511;
}
.footer .totalizer .totalizerbar .totalizerbarinner {
  display: block;
  width: 99%;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  border-right: 1px solid #b175d3;
  border-bottom: 1px solid #b175d3;
  border-left: 1px solid #0d0511;
  border-top: 1px solid #0d0511;
  background: #f2b716;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.footer .totalizer .totalizerbar .totalizerbarinner .current {
  height: 14px;
  width: 1%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background: #c42a85;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.footer p {
  color: #ffffff;
  font-size: 16px;
}
.footer p small a {
  color: #aaa;
  font-style: normal;
}
.footer a {
  color: #fff !important;
  text-decoration: underline;
}
.fullwrap {
  width: 960px;
  margin: 0 auto;
}
/* ==========================================================================
   Popup
   ========================================================================== */
.popup {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: 3000;
}
.popup.active {
  display: block;
}
.popup .itemwrap {
  max-width: 340px;
  color: #000;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -150px;
  border: 5px solid #6e2e8f;
  background: #fff;
  padding-left: 5px;
  padding-top: 27px;
  padding-left: 10px;
  font-size: 12px;
  /* ==========================================================================
		Select menues with backgrounds
		========================================================================== */
}
.popup .itemwrap .close {
  diplay: block;
  width: 22px;
  height: 22px;
  background: #6e2e8f;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.popup .itemwrap .item.large {
  width: 310px;
  margin-bottom: 10px;
  clear: both;
}
.popup .itemwrap .item.large > p {
  margin: 0 !important;
  padding: 3px 10px;
}
.popup .itemwrap .button {
  width: 96%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background: #d32c90;
}
.popup .itemwrap > p {
  margin: 0;
  padding: 3px 10px;
}
.popup .itemwrap > p a {
  color: #ccc;
  font-size: 12px;
}
.popup .itemwrap .message {
  clear: both;
  width: 300px;
  margin: 10px 10px 10px 0px;
  background: #f2b716;
  color: #6e2e8f;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
}
.popup .itemwrap .message > p {
  display: block;
  padding: 15px;
  margin: 0;
}
/* ==========================================================================
Generic styles
========================================================================== */
#page_nav {
  display: none;
}
.upper {
  text-transform: uppercase;
}
.pink {
  color: #d32c90;
}
.err {
  color: red;
}
.itembottom {
  clear: both;
}
.itembottom a {
  color: #666;
  text-decoration: underline;
}
.itembottom p {
  z-index: 500;
}
.itembottom .button {
  z-index: 500;
}
.itembottom .iconselection {
  display: block;
  z-index: 1000;
}
.itembottom .iconselection .cell {
  display: block;
  float: left;
  position: relative;
  padding-left: 4px;
}
.icondropdown {
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  z-index: 3000;
  width: 40px;
}
.icondropdown li {
  display: block;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.icondropdown li.dropdown {
  background: #ecebeb url(../svg/icon-dropdownarrow.png) no-repeat right top;
  width: 40px;
  height: 20px;
}
.icondropdown li.dropdown ul {
  background: #fff;
  margin: 0;
  display: none;
}
.icondropdown li.dropdown ul li {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.icondropdown li.dropdown ul.active {
  display: block;
}
.icondropdown li a {
  display: block;
  width: 40px;
  height: 20px;
  overflow: hidden;
  text-indent: -200px;
}
.icondropdown li a.cat {
  background: url(../svg/icon-usr-cat-small.png) no-repeat;
}
.icondropdown li a.diamond {
  background: url(../svg/icon-usr-diamond-small.png) no-repeat;
}
.icondropdown li a.flower {
  background: url(../svg/icon-usr-flower-small.png) no-repeat;
}
.icondropdown li a.glass {
  background: url(../svg/icon-usr-glass-small.png) no-repeat;
}
.icondropdown li a.heart {
  background: url(../svg/icon-usr-heart-small.png) no-repeat;
}
.icondropdown li a.like {
  background: url(../svg/icon-usr-like-small.png) no-repeat;
}
.icondropdown li a.lips {
  background: url(../svg/icon-usr-lips-small.png) no-repeat;
}
.icondropdown li a.ok {
  background: url(../svg/icon-usr-ok-small.png) no-repeat;
}
.icondropdown li a.present {
  background: url(../svg/icon-usr-present-small.png) no-repeat;
}
.icondropdown li a.stars {
  background: url(../svg/icon-usr-stars-small.png) no-repeat;
}
.icondropdown li a.sun {
  background: url(../svg/icon-usr-sun-small.png) no-repeat;
}
.sharewithfriend {
  display: none;
  z-index: 4000;
}
.sharewithfriend.active {
  display: block;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -170px;
  width: 340px;
  border: 4px solid #6e2e8f;
  background: #fff;
}
.sharewithfriend.active p {
  color: #6e2e8f;
}
.sharewithfriend.active .close {
  diplay: block;
  width: 22px;
  height: 22px;
  background: #6e2e8f;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.sharewithfriend.active .wrap {
  padding: 0 20px;
  color: #222;
}
p.counter {
  font-family: Arial !important;
  font-size: 12px !important;
}
/* ==========================================================================
   Mobile
   ========================================================================== */
.mobileonly {
  display: none;
}
.screenonly {
  display: block;
}
@media screen and (max-width: 960px) {
  .fullwrap {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (max-width: 665px) {
  .mobileonly {
    display: block;
  }
  .screenonly {
    display: none;
  }
  .itemsarea {
    position: absolute;
    top: 0;
    left: 10px;
  }
  .arrows {
    display: none;
  }
  .contentheader {
    text-align: center;
  }
  .popup .itemwrap {
    margin: 0 2%;
    left: 0;
  }
  .itemsarea {
    position: absolute;
    top: 0;
    left: 20px;
    height: 460px;
  }
  .itemsarea.home {
    left: 10px;
  }
  .pagearea {
    max-width: 100%;
    overflow: hidden;
  }
}
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
.testblock {
  width: 100%;
  height: 200px;
  background: red;
}
