body  .gform_wrapper ul {
	list-style-type: none !important;
	margin: 0 !important;
	padding-left: 0;
	list-style: none; 
}

ul.gform_fields {
	margin: 0;
}

.gform_wrapper {
	li {
		margin-bottom: 15px;
	}
	form {
		margin-bottom: 0;
	} 
	.gfield_required {
		padding-left: 1px;
		color: #b94a48;
	}

} 

.ginput_container {
	input, select, textarea {
		display: block;
		width: 98%;
		height: 34px;
		padding: 6px 1% 6px 1%;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
	}
	select {
		padding-right: 2%;
		width: 100%;
	}

	input:-moz-placeholder, 
	select:-moz-placeholder, 
	textarea:-moz-placeholder,
	input::-moz-placeholder, 
	select::-moz-placeholder, 
	textarea::-moz-placeholder,
	input:-ms-input-placeholder,
	select:-ms-input-placeholder,
	textarea:-ms-input-placeholder,
	input::-webkit-input-placeholder, 
	select::-webkit-input-placeholder, 
	textarea::-webkit-input-placeholder {
		color: #999; 
	}
	input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6); 
	}
	input[disabled],
	select[disabled],
	textarea[disabled],
	input[readonly],
	select[readonly],
	textarea[readonly],
	fieldset[disabled] input,
	fieldset[disabled] select,
	fieldset[disabled] textarea {
		cursor: not-allowed;
		background-color: #eee;
	}
	input, 
	select, 
	textarea {
		height: auto; 
	}
	textarea {
		height: auto;
	}

 }
 

.gform_button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	&:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px; 
	}
	&:hover, &:focus {
		color: #333;
		text-decoration: none;
	}
	&:active,
	&.active {
		outline: 0;
		background-image: none;
		-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); 
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		pointer-events: none;
		opacity: .65;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none; 
	}

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle& {
		color: #fff;
		background-color: #3276b1;
		border-color: #285e8e; 
	}

	&:active,
	&.active,
	.open .dropdown-toggle& {
		background-image: none; 
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] &,
	&.disabled:hover,
	&[disabled]:hover,
	fieldset[disabled] &:hover,
	&.disabled:focus,
	&[disabled]:focus,
	fieldset[disabled] &:focus,
	&.disabled:active,
	&[disabled]:active,
	fieldset[disabled] &:active,
	&.disabled.active,
	&[disabled].active,
	fieldset[disabled] &.active {
		background-color: #428bca;
		border-color: #357ebd; 
	}
}

.gform_wrapper {
	.gfield_error .gfield_label {
		color: #b94a48;
	}
	.gfield_error input,
	.gfield_error select,
	.gfield_error textarea {
		border-color: #eed3d7;
		background-color: #f2dede;
		color: #b94a48;
	}
	.gfield_error input:focus, 
	.gfield_error select:focus, 
	.gfield_error textarea:focus {
		border-color: #b94a48;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6);
	}
} 

.validation_error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	h4 {
		margin-top: 0;
		color: inherit;
	}
	.alert-link {
		font-weight: bold;
	}
	>p, >ul {
		margin-bottom: 0;
	}
	>p+p {
		margin-top: 5px;
	}
	hr {
		border-top-color: #e6c1c7;
	}
	.alert-link {
		color: #953b39;
	}
}
  
#gforms_confirmation_message {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	h4 {
		margin-top: 0;
		color: inherit;
	}
	.alert-link {
		font-weight: bold;
	}
	>p, >ul {
		margin-bottom: 0;
	}
	>p+p {
		margin-top: 5px;
	}
}
 
 
.gallery-row {
padding: 15px 0;
}
 
.aligncenter {
display: block;
margin: 0 auto;
}
 
.alignleft {
float: left;
}
 
.alignright {
float: right;
}
 
figure.alignnone {
margin-left: 0;
margin-right: 0;
}