/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/


// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ 
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

// Generic colours
@col_heading: #00bbff;
@col_link: #0033a0;
@col_content: #ffffff;
@col_background: #6d2c91;

@bg_one: #6d2c91;
@bg_two: #b92f92;

@bg_head_one: #78409b;
@bg_head_two: #512971;

// Mobile menu colours

@alert-yellow:      #ebe16f;
@alert-red:         #fbe3e4;
@alert-green:       #e6efc2;
@alert-blue:        #d5edf8;


@palet_one: #6e2e8f; // Drk purple
@palet_two: #D32C90;  // Pink d32c90
@palet_three: #74bf44; // Green
@palet_four: #f2b716; // Yellow
@palet_five: #26292e; // Grey

/*********************
TYPOGRAPHY
*********************/
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@font-face {
    font-family: 'gochi_handregular';
    src: url('../fonts/gochihand-regular-webfont.svg#gochi_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@heading: Arial, "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif; 
@body: @heading; 

span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic;
}

/* text alignment */
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

/* Wordpress defaults */

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
    max-width: 30%;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


// alerts and notices
.alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
  .alert();
	border-color: darken(@alert-yellow, 5%);
	background: @alert-yellow;
}

.alert-info {
  .alert();
	border-color: darken(@alert-blue, 5%);
	background: @alert-blue;
}

.alert-error {
  .alert();
	border-color: darken(@alert-red, 5%);
	background: @alert-red;
}

.alert-success {
  .alert();
	border-color: darken(@alert-green, 5%);
	background: @alert-green;
}

		
.hr(@hr-color: #ccc) {
    border: 0;
    height: 0;
    border-top: 1px solid @hr-color;
}

/*********************
BUTTONS
*********************/

.button, .button:visited {
	padding: 6px 14px;
	border: none;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	line-height: 21px;
	.border-radius(2px);
	.transition();
	
	&.full {
		width: 100%;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}	


	background: @palet_one;
	color: #fff !important;
	&:hover, &:focus { color: #000; background: darken(@palet_one, 10%); }
	&:active, &.active { background: darken(@palet_one, 10%); }
	
	&.dark,  &.gform_button {
		background: @palet_two;
		color: @palet_one;
		font-size: 11px;
		font-weight: normal;

		&:hover, &:focus {
			color:@palet_one;
			background: darken(@palet_two, 15%);
		}
		
		&:active {
			background: darken(@palet_two, 10%);
		}	
	}
	&.large {
		padding: 25px;
		
		font-weight: 200;
		font-size: 22px;
	}
}



