/******************************************************************
Site Name: AAThornton
Author: Tela Ltd

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

/* ==========================================================================
   Imported default
   ========================================================================== */

@import "_normalize.less";
@import "_lesshat.less";
@import "_mixins.less";
@import "_960.less";

/* ==========================================================================
   generic styles
   ========================================================================== */


body {
	background: @col_background;
	font-size: 17px;
	font-weight: 300;
	font-family: @body;
	margin: 0; padding: 0;
	color: @col_content;
	line-height: 1.3em;
	
}
h1, h2, h3, h4 {
	line-height: 1em;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}


.pagearea, .footer  {
	width: 100%;
	margin: 0 auto;
}

.pagearea {
	position: relative;
	min-height: 300px;
	maxwidth: 100%;
	overflow: hidden;
}

.header {
	background: linear-gradient(to bottom, #78409b 0%,#512971 100%);
	border-top: 1px solid #78409b;
	height: 40px;
	h1 {
		margin: 0;
		float: left;
		a {
			color: #e3c9e0;	
			font-weight: bold;
		}
		font-size: 11.5px;
		weight: bold;
		display: block;
		padding-top: 13px;
	}
	ul.social {
		margin: 0;
		float: right;
		padding-top: 6px;
	}
	
}
ul.social {
	li {
		display: inline-block;
		a {
			display: block;
			overflow: hidden;
			text-indent: -200px;
			width: 32px;
			height: 28px;
			&:hover {
				opacity: 0.7;
			}
			&.head.facebook {
				background: url(../svg/icon-header-facebook.png) top left no-repeat;
			}
			&.head.twitter {
				background: url(../svg/icon-header-twitter.png) top left no-repeat;
			}
			&.head.google {
				background: url(../svg/icon-header-google.png) top left no-repeat;
			}
			&.head.pintrest {
				background: url(../svg/icon-header-pintrest.png) top left no-repeat;
			}
			&.yellow.facebook {
				background: url(../svg/icon-yellow-facebook.png) top left no-repeat;
			}
			&.yellow.twitter {
				background: url(../svg/icon-yellow-twitter.png) top left no-repeat;
			}
			&.yellow.google {
				background: url(../svg/icon-yellow-google.png) top left no-repeat;
			}
			&.yellow.pintrest {
				background: url(../svg/icon-yellow-pintrest.png) top left no-repeat;
			}
			&.pink.facebook {
				background: url(../svg/icon-pink-facebook.png) top left no-repeat;
			}
			&.pink.twitter {
				background: url(../svg/icon-pink-twitter.png) top left no-repeat;
			}
			&.pink.google {
				background: url(../svg/icon-pink-google.png) top left no-repeat;
			}
			&.pink.pintrest {
				background: url(../svg/icon-pink-pintrest.png) top left no-repeat;
			}
			&.purple.facebook {
				background: url(../svg/icon-purple-facebook.png) top left no-repeat;
			}
			&.purple.twitter {
				background: url(../svg/icon-purple-twitter.png) top left no-repeat;
			}
			&.purple.google {
				background: url(../svg/icon-purple-google.png) top left no-repeat;
			}
			&.purple.pintrest {
				background: url(../svg/icon-purple-pintrest.png) top left no-repeat;
			}
			&.green.facebook {
				background: url(../svg/icon-green-facebook.png) top left no-repeat;
			}
			&.green.twitter {
				background: url(../svg/icon-green-twitter.png) top left no-repeat;
			}
			&.green.google {
				background: url(../svg/icon-green-google.png) top left no-repeat;
			}
			&.green.pintrest {
				background: url(../svg/icon-green-pintrest.png) top left no-repeat;
			}
		}
	}
}
.contentarea {
	position: relative;
	z-index: 1000;
	.bg-content {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contentheader, .content, .contentfooter {
		position: relative;
		z-index: 200;
	}
	.contentheader {
		padding-top: 10px;
		padding-bottom: 10px;
		a {
			color: #f2b716;
		}
	}
	.content {
		clear: both;
		width: 100%;
		position: relative;

		.arrows {
			margin: 0;
			li {
				a {
					display: block;
					width: 143px;
					height: 137px;
					position: absolute;
					top: 150px;
					background: url(../img/arrows-pointers.png) no-repeat;
					overflow: hidden;
					text-indent: 200px;
					.transition(left 0.5s ease, right 0.5s ease);
					&.next {
						right: -200px;
						background-position: top right;
					}
					&.back {
						left: -200px;
						background-position: top left;
					}
				}
			}
		}
		&:hover {
			.arrows {
				margin: 0;
				li {
					a {
						&.next {
							right: 10px;
						}
						&.back {
							left: 10px;
						}
					}
				}
			}
		}
	}
}
.itemsarea {
	position: absolute;
	top: 0;
	left: 20px;
	height: 460px;
	&.home {
		left: -310px;	
	}
}
.popup {
	.item, .inside, .itemform {
		> h3, > h2 {
			margin: 3px 0px 3px 0px !important;
		}
		p {
			margin: 3px 00px 3px 0px !important;
		}

	}
}

.item {
	float: left;
	width: 160px;
	height: 113px;
	margin: 0; padding: 0;
	font-family: 'Gochi Hand', cursive;
	position: relative;
	.corner {
		position: absolute;
		bottom: 2px;
		right: 40px;
	}
	h2, h3, {
		font-weight: normal;
	}
	&.fade {
		.opacity(0.7);
	}
	.inside {
		position: relative;
		background: #fff;
		width: 124px;
		height: 86px;	
		border: 4px solid @palet_one;
		color: @palet_one;
		.border-radius(8px);
		.box-shadow(0 0 5px rgba(0,0,0,0.5));
		.icon {
			float: right;
			height: 60px;
		}
		.share {
			display: none;
		}
		> h2, > p {
			display: none;
		}
		> h3 {
			position: absolute;
			left: 10px;
			bottom: 5px;
			margin: 0;
			font-size: 16px;
		}
		.shareblock {
			position: absolute;
			left: -4px;
			top: 220px;
			width: 100%;
			background: #fff;
			z-index: 4000;
			border: 4px solid @palet_one;
			z-index: 4000 !important;
			.wrap {
				padding: 0 15px;
				font-size: 15px;
				p {
					font-family: arial;
					line-height: 1.1em;
					color: @palet_one;
				}
				h3 {
					text-align: right;
				}
				ul {
					color: @palet_one;
					list-style-type: disc;
					margin-left: 14px;
					font-family: arial;
					margin-bottom: 0;

				}
			}
		}

	}
	&.large {

		.corner {
			bottom: 3px;
		}
		width: 320px;
		height: 226px;
		.inside {
			background: #fff;
			width: 292px;
			height: 198px;
			.icon {
				float: right;
				height: 80px;
				width: 80px;
			}
			h2, p {
				display: block;
			}
			> h2 {
				font-size: 32px;
				display: block;
				width: 110px;
				margin: 0 !important;
				padding: 10px 0 0 10px;
			}
			> h3 {
				position: relative;
				left: 0px;
				bottom: 0px;
				margin: 0 !important;
				font-size: 23px;
				margin: 0;
				padding: 10px 0 0 10px;
			}
			> p {
				margin: 0 !important;
				padding: 10px 0 0 10px;
			}
		}
	}
	&.flexy {
		height: auto !important;
		.inside {
			height: auto !important;
			.itemform {
				
				padding-left: 10px;
				padding-top: 10px;
				input, textarea {
					padding: 4px;
					font-size: 12px;
					font-weight: bold;
				}
				input {
					width: 94%;
				}
				textarea {
					width: 95%;
				}
			}
		}
	}
	&.yellow {
		.shareblock {
			h3 {
				color: @palet_four;
			}
			border-color: @palet_four;
		}
		.inside {
			border-color: @palet_four;
			background: #fff url(../img/corner-yellow.png) no-repeat top right;
			background-size: 150px auto;
			h2 {
				color: @palet_four;
			}
			.share {
				h3 {
					color: @palet_four;
				}
				.social {
					.icon {
						path {
							fill: @palet_four;
						}
					}
				}
			}
		}
		&.large {
			.inside {
				background-size: auto auto;
			}
		}
	}
	&.green {
		.shareblock {
			h3 {
				color: @palet_three;
			}
			border-color: @palet_three;
		}
		.inside {
			border-color: @palet_three;
			background: #fff url(../img/corner-green.png) no-repeat top right;
			background-size: 150px auto;
			h2 {
				color: @palet_three;
			}
			.share {
				h3 {
					color: @palet_three;
				}
				.social {
					.icon {
						path {
							fill: @palet_three;
						}
					}
				}
			}
		}
		&.large {
			.inside {
				background-size: auto auto;
			}
		}
	}
	&.pink {
		.shareblock {
			h3 {
				color: @palet_two;
			}
			border-color: @palet_two;
		}
		.inside {
			border-color: @palet_two;
			background: #fff url(../img/corner-pink.png) no-repeat top right;
			background-size: 150px auto;
			h2 {
				color: @palet_two;
			}
			.share {
				h3 {
					color: @palet_two;
				}
				.social {
					.icon {
						path {
							fill: @palet_two;
						}
					}
				}
			}
		}
		&.large {
			.inside {
				background-size: auto auto;
			}
		}
	}
	&.purple {
		.shareblock {
			h3 {
				color: @palet_one;
			}
			border-color: @palet_one;
		}
		.inside {
			border-color: @palet_one;
			background: #fff url(../img/corner-purple.png) no-repeat top right;
			background-size: 150px auto;
			h2 {
				color: @palet_one;
			}
			.share {
				h3 {
					color: @palet_one;
				}
				.social {
					.icon {
						path {
							fill: @palet_one;
						}
					}
				}
			}
		}
		&.large {
			.inside {
				background-size: auto auto;
			}
		}
	}
	&.svgfont {
		font-family: 'gochi_handregular' !important;
	}
}
.crop {
	padding: 10px;
	overflow: hidden;
	width: 300px;
	height: 300px;
	.item {
		width: 292px;
	}
}

.footer {
	padding: 20px 0 10px 0;
	background: #471e5e;
	z-index: 2;
	.totalizer{
		position: relative;
		padding-top: 26px;
		margin-top: 10px;
		margin-bottom: 30px;
		.totalizericon {
			.transition(left 0.5s ease, right 0.5s ease);
			position: absolute;
			top: 0; left: 0;
			background: url(../img/icon-totalizer.png) no-repeat top left;
			display:inline-block;
			width: 99px;
			height: 99px;
			vertical-align:middle;
			text-align: center;
			color: #d27a00;
			font-size: 24px;
			strong {
				display: block;
				padding-top: 37px;
				text-shadow: -1px -1px darken(#d27a00,10%);
			}
		}
		.totalizerbar {
			display: block;
			width: 95%;
			padding: 2% 2%;
			.border-radius(3px);
			border-right: 1px solid lighten(#471e5e,20%);
			border-bottom: 1px solid lighten(#471e5e,20%);
			border-left: 1px solid darken(#471e5e,20%);
			border-top: 1px solid darken(#471e5e,20%);

			.totalizerbarinner {
				display: block;
				width: 99%;
				.border-radius(3px);
				border-right: 1px solid lighten(#471e5e,40%);
				border-bottom: 1px solid lighten(#471e5e,40%);
				border-left: 1px solid darken(#471e5e,20%);
				border-top: 1px solid darken(#471e5e,20%);
				background: #f2b716;
				.box-shadow(inset 0 0 2px rgba(0,0,0,0.5));
				overflow: hidden;

				.current {
					height: 14px;
					width: 1%;
					.transition(width 0.5s ease);
					background: #c42a85;
					.box-shadow(inset 0 0 2px rgba(0,0,0,0.5));
				}
			}
		}
	}


	p {
		color: #ffffff;
	
		small a  {
			color: #aaa;
			font-style: normal;
		}
		font-size: 16px;
	}

	a {
			color: #fff !important;
			text-decoration: underline;
	}
}
.fullwrap {
	width: 960px;
	margin: 0 auto;
}


/* ==========================================================================
   Popup
   ========================================================================== */

.popup {
	display: none;
	&.active {
		display: block;
	}
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
	z-index: 3000;
	.itemwrap {
		max-width: 340px;
		color: #000;
		position: absolute;
		top: 15%;
		left: 50%;
		margin-left: -150px;
		border: 5px solid @palet_one;
		background: #fff;
		padding-left: 5px;
		padding-top: 27px;
		padding-left: 10px;
		font-size: 12px;
		.close {
			diplay: block;
			width: 22px;
			height: 22px;
			background: @palet_one;
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			text-align: center;
			font-size: 16px;
		}
		.item.large {
			width: 310px;
			margin-bottom: 10px;
			clear: both;
			> p {
				margin: 0 !important;
				padding: 3px 10px;
			}
		}
		/* ==========================================================================
		Select menues with backgrounds
		========================================================================== */





		.button {
			width: 96%;
			.box-shadow(0 5px 5px rgba(0,0,0,0.5));
			background: @palet_two;
		}
		> p {
			margin: 0;
			padding: 3px 10px;
			a {
				color: #ccc;
				font-size: 12px;
			}
		}
		.message {
			clear: both;
			width: 300px;
			margin: 10px 10px 10px 0px;
			background: @palet_four;
			color:  @palet_one;

			border: 3px solid #fff;
			.box-shadow(0,0,4px,#000);
			> p {
				display: block;
				padding: 15px;
				margin: 0;
			}
		}
	}
}



/* ==========================================================================
Generic styles
========================================================================== */
#page_nav {
	display: none;
}
.upper {
	text-transform: uppercase;
}
.pink {
	color: #d32c90;
}
.err {
	color: red;
}
.itembottom {
	clear: both;
	a {
		color: #666;
		text-decoration: underline;
	}
	p {
		z-index: 500;
	}
	.button {
		z-index: 500;
	}
	.iconselection {
		display: block;
		z-index: 1000;
		.cell {
			display: block;
			float: left;
			position: relative;
			padding-left: 4px;
		}
	}	

}
.icondropdown {
	display: block;
	margin: 0; padding: 0;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	z-index: 3000;
	width: 40px;
	li {
		display: block;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		&.dropdown {
			background: #ecebeb url(../svg/icon-dropdownarrow.png) no-repeat right top;
			width: 40px;
			height: 20px;
			ul {
				background: #fff;
				margin: 0;
				display: none;
				li {
					border-top: 1px solid #ccc;
					border-right: 1px solid #ccc;
				}
				&.active {
					display: block;
				}
			}
		}
		

		a {
			display: block;
			width: 40px;
			height: 20px;
			overflow: hidden;
			text-indent: -200px;
			&.cat { background: url(../svg/icon-usr-cat-small.png) no-repeat;}
			&.diamond { background: url(../svg/icon-usr-diamond-small.png) no-repeat;}
			&.flower { background: url(../svg/icon-usr-flower-small.png) no-repeat;}
			&.glass { background: url(../svg/icon-usr-glass-small.png) no-repeat;}
			&.heart { background: url(../svg/icon-usr-heart-small.png) no-repeat;}
			&.like { background: url(../svg/icon-usr-like-small.png) no-repeat;}
			&.lips { background: url(../svg/icon-usr-lips-small.png) no-repeat;}
			&.ok { background: url(../svg/icon-usr-ok-small.png) no-repeat;}
			&.present { background: url(../svg/icon-usr-present-small.png) no-repeat;}
			&.stars { background: url(../svg/icon-usr-stars-small.png) no-repeat;}
			&.sun { background: url(../svg/icon-usr-sun-small.png) no-repeat;}
		}
	}
}

.sharewithfriend {
	display: none;
	z-index: 4000;
	&.active {
		
		display: block;
		position: absolute;
		top: 15%;
		left: 50%;
		margin-left: -170px;
		width: 340px;
		border: 4px solid @palet_one;
		background: #fff;
		p {
			color: @palet_one;

		}
		.close {
			diplay: block;
			width: 22px;
			height: 22px;
			background: @palet_one;
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			text-align: center;
			font-size: 16px;
		}
		.wrap {
			padding: 0 20px;
			color: #222;
		}
	}
}

p.counter {
	font-family: Arial !important;
	font-size: 12px !important;
}


/* ==========================================================================
   Mobile
   ========================================================================== */


.mobileonly {
	display: none;
}
.screenonly {
	display: block;
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 960px) {
	.fullwrap {
		width: 96%;
		padding-left: 2%; padding-right: 2%;
	}
}

@media screen and (max-width: 860px) {
}

@media screen and (max-width: 720px) {
}
@media screen and (max-width: 665px) {
	.mobileonly {
		display: block;
	}
	.screenonly {
		display: none;
	}
	.itemsarea {
		position: absolute;
		top: 0;
		left: 10px;
	}
	.arrows {
		display: none;
	}
	.contentheader {
		text-align: center;
	}
	.popup {
		.itemwrap {
			margin: 0 2%;
			left: 0;
		}
	}
	.itemsarea {
		position: absolute;
		top: 0;
		left: 20px;
		height: 460px;
		&.home {
			left: 10px;	
		}
	}
	.pagearea {
		max-width: 100%;
		overflow: hidden;
	}
}
@media screen and (max-width: 550px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 360px) {
}

/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
	
} // end of media query


.testblock {
	width: 100%;
	height: 200px;
	background: red;
}


